<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- Must haves for Mapbox -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.26.0/mapbox-gl.css' rel='stylesheet' />

  <!-- Must haves for Leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
  
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="{{ url_for('static',filename='map.css') }}" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">


<h1 class="text-center">Leaflet and Mapbox Map</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<br>

<div id="mapid"></div>


<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  
  var mymap = L.map('mapid').setView([44.059, -123.101], 13 );
  var popup = L.popup();
 
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFoYW5hbmFrYSIsImEiOiJjaXVydzZkNnMwMDl3Mnpxamc2YnJqdTN6In0.QN32luonRpWSlq5zXruTYA', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mahananaka.1p03d9fb',
      accessToken: 'pk.eyJ1IjoibWFoYW5hbmFrYSIsImEiOiJjaXVydzZkNnMwMDl3Mnpxamc2YnJqdTN6In0.QN32luonRpWSlq5zXruTYA'
  }).addTo(mymap);

  function onMapClick(e) {
    popup
        .setLatLng(e.latlng);
        .setContent("You clicked the map at " + e.latlng.toString());
        .openOn(mymap);

    //var marker = L.marker(e.latlng).addTo(mymap);
    //marker.bindPopup("<b>Hello User!</b><br>Is this your location?").openPopup();
  }

  mymap.on('click', onMapClick);

</script>

</div>
</body> </html>
